*venv/
dev/

data/mvtec_ad_2/cand
data/mvtec_ad_2/fabric
data/mvtec_ad_2/fruit_jelly
data/mvtec_ad_2/rice
data/mvtec_ad_2/sheet_metal
data/mvtec_ad_2/vial
data/mvtec_ad_2/wallplugs
data/mvtec_ad_2/walnuts
data/mvtec_ad_2/license.txt
data/mvtec_anomaly_detection/*
data/debug_dataset
data_utils/*

paper_plots*/
paper_tables*/
results*/
results_MVTec2/
*personal.ipynb
feature_extraction.ipynb
src/__pycache__/
